/* Global styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    }
    
    h1, h2, h3 {
    margin-top: 0;
    }
    
    /* Header */
    
    header {
    background-color: #e0a313;
    box-shadow: 0px 2px 5px rgba(5, 4, 4, 0.722);
    position: sticky;
    top: 0;
    z-index: 1;
    }
    
    nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    }
    
    nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    
    nav li {
    margin-right: 20px;
    }
    
    nav a {
    text-decoration: none;
    color: #0f0101;
    font-weight: bold;
    }
    
    nav a:hover {
    color: #f5eded;
    }
    
    /* Hero section */
    
    .hero {
    background-image: url(1318361.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    }
    
    .hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    }
    
    .hero p {
    font-size: 1.5rem;
    margin-bottom: 30px;
    }
    
    .hero button {
    background-color: #d6ab0d;
    color: #eaeaea;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
    }
    
    .hero button:hover {
    background-color: #0056b3;
    }
    
    /* Travel guides section */
    
    .travel-guides {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
    background-color: #fcfbf8;
    }
    
    .travel-guides h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #282672;
    }
    
    .travel-guides p {
    font-size: 1.2rem;
    margin-bottom: 50px;
    color: #927612;
    }
    
    .guide {
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: left;
    }
    
    .guide img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    }
    
    .guide h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    }
    
    .guide p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    }
    
    .guide a {
    display: block;
    background-color: #007bff;
    color: #fffffd;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
    }
    
    .guide a:hover {
    background-color: #0056b3;
    }


    /* Itinerary Planner section */
.itinerary-planner {
    background-color: #0f0461c7;
    padding: 50px;
  }
  
  .itinerary-planner h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #d5d696;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .itinerary-planner p {
    font-size: 18px;
    margin-bottom: 40px;
    color: #d5d696;
    font-style: oblique;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
  }
  
  .itinerary-planner form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .itinerary-planner label {
    font-size: 16px;
    margin-bottom: 10px;
    color: #e8eceb;
  }
  
  .itinerary-planner input {
    padding: 10px;
    font-size: 10px;
    margin-bottom: 20px;
    border: 2px solid #9f5353;
    border-radius: 5px;
    width: 100%;
    max-width: 200px;
  }
  
  .itinerary-planner button {
    background-color: #10a8d2;
    color: #5c0a0a;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .itinerary-planner button:hover {
    background-color: #e3e332;
  }
  
  /* Reviews & Ratings section */
  .reviews-ratings {
    padding: 50px;
    background-color: #10a8d2;
    color: #faf6f6;
  }
  
  .reviews-ratings h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .reviews-ratings p {
    font-size: 18px;
    margin-bottom: 40px;
    color: #000;
  }
  
  .reviews-ratings .review {
    margin-bottom: 40px;
  }
  
  .reviews-ratings .review h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .reviews-ratings .review p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  /* Connect section */
  .connect {
    background-color: #f9f9f9;
    b
    padding: 50px;
    background-image: url(1534742.jpg);
    color: #0b0539;
  }
  
  .connect h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .connect p {
    font-size: 18px;
    margin-bottom: 40px;
  }
  
  .connect .user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .connect .user-profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
  }
  
  .connect .user-profile h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .connect .user-profile p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .connect .user-profile a {
    background-color: #0077cc;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .connect .user-profile a:hover {
    background-color: #005ea6;
  }

  footer {
    background-color: #e0a313;
    color: #090101;
    padding: 5px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  footer a {
    color: #fff;
  }
  
  
  